<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<h2> Comments </h2>
<%= content_tag :div, :id => "comments", :data => {:url => event_traversals_url(@event)} do %>
<%= render "traversals/travers" %>
<% end %>
<%= render "traversals/form" %>