<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
<h2> Comments </h2>
<%= content_tag :div, :id => "comments", :data => {:url => author_traversals_url(@author)} do %>
<%= render "traversals/travers" %>
<% end %>
<%= render "traversals/form" %>